@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff8f6;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0px);
  }
}

.floating {
  animation: floating 7s ease-in-out infinite;
}